.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 206, 233);
  height: 100vh;
}
.App {
  margin: 100px;
}
.new-quote-btn {
  padding: 10px;
  border: none;
  outline: none;
}
.quotes-div {
  background-color: lightgray;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.quote {
  padding: 15px;
}
